language: java
jdk: openjdk7

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
  - ./bin/unit_test
  - ./bin/travis_heroku_deploy
  - sleep 20 # wait for heroku to serve the app.
  - if [ ! "$TRAVIS_BRANCH" = "production" ]; then ./bin/e2e_test; fi

env:
  global:
    secure: Ol+4NGkcylAcdlBKnFxei0MleZBot+R4H+AfSOMXXLwqqk0/6Br93GFkfLc0AOAbVIFQ+ZpEv1oSTWQmxlkWCN/NXtL0dCY8K8fbs8mZkKCwipN6x7TkXYZDmZUC8BnxDGIxCadGuvAbqKwYbfP/bDORkfdCFAbjhy4mdoYwvok=

branches:
  only:
    - master
    - production