.container {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

table {
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
}

table td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #CCC;
    font-size: 50px;
}

#game {
    text-align: center;
}

#textCurrent {
    font-size: 20px;
}

.currX {
	color: red;
}

.currO {
	color: blue;
}